@import "reset";

body {
  background-color: orange;
}

input {
  margin-top: 2rem;
  width: 200px;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid;
}
img {
  width: 200px;
  border-radius: 50%;
  margin-top: 2rem;
}
h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
p {
  margin-bottom: 1rem;
  font-weight: 600;
}
