@import "reset";

//css

body {
  background-color: skyblue;
}
h1 {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
}
input {
  width: 200px;
  padding: 0.7rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
  margin-top: 2rem;
  border: 1px solid;
}


